In [10]:
import pandas as pd
import boto3 #To connect AWS
from io import StringIO #Encode data into binary form

In [11]:
AWS_ACCESS_KEY= "AKIA6ODUZXCOW2J7T6ZP"
AWS_SECRET_KEY ="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"
AWS_REGION= "us-east-2"
SCHEMA_NAME= "covid19"
S3_STAGING_DIR="s3://athenaouptutenigma/output/"
S3_BUCKET_NAME = "athenaouptutenigma"
S3_OUTPUT_DIRECTORY="output"

In [12]:
client = boto3.client('athena',
                    aws_access_key_id=AWS_ACCESS_KEY,
                    aws_secret_access_key=AWS_SECRET_KEY,
                    region_name=AWS_REGION,
                     )

In [13]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [14]:
#enigma_jhud
response = client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud limit 1000",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [8]:
response

{'QueryExecutionId': '8c46307d-153a-4d78-94a0-af717a861dde',
 'ResponseMetadata': {'RequestId': '4a68247a-bfe4-4864-ba2f-d458f219251f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 09 Jul 2024 05:17:18 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '4a68247a-bfe4-4864-ba2f-d458f219251f'},
  'RetryAttempts': 0}}

In [15]:
enigma_jhud = download_and_load_query_results(client, response)
print(enigma_jhud)

     fips admin2  province_state country_region          last_update  \
0     NaN    NaN           Anhui          China  2020-01-22T17:00:00
1     NaN    NaN         Beijing          China  2020-01-22T17:00:00
2     NaN    NaN       Chongqing          China  2020-01-22T17:00:00
3     NaN    NaN          Fujian          China  2020-01-22T17:00:00
4     NaN    NaN           Gansu          China  2020-01-22T17:00:00
..    ...    ...             ...            ...                  ...
995   NaN    NaN           Jilin          China  2020-02-12T14:13:08
996   NaN    NaN  Inner Mongolia          China  2020-02-12T11:13:05
997   NaN    NaN        Xinjiang          China  2020-02-12T01:43:02
998   NaN    NaN         Ningxia          China  2020-02-12T11:13:05
999   NaN    NaN       Hong Kong      Hong Kong  2020-02-12T09:53:02

     latitude  longitude  confirmed  deaths  recovered  active  \
0      31.826    117.226        1.0     NaN        NaN     NaN
1      40.182    116.414       14.0     NaN        NaN     NaN
2      30.057    107.874        6.0     NaN        NaN     NaN
3      26.079    117.987        1.0     NaN        NaN     NaN
4      36.061    103.834        NaN     NaN        NaN     NaN
..        ...        ...        ...     ...        ...     ...
995    43.666    126.192       83.0     1.0       22.0     NaN
996    44.093    113.945       60.0     0.0        6.0     NaN
997    41.113     85.240       59.0     0.0        3.0     NaN
998    37.269    106.165       58.0     0.0       24.0     NaN
999    22.300    114.200       50.0     1.0        1.0     NaN

        combined_key
0             "Anhui
1           "Beijing
2         "Chongqing
3            "Fujian
4             "Gansu
..               ...
995           "Jilin
996  "Inner Mongolia
997        "Xinjiang
998         "Ningxia
999       "Hong Kong

[1000 rows x 12 columns]

In [16]:
#CountryCode
response_1 = client.start_query_execution(
    QueryString="SELECT * FROM countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [17]:
countrycode = download_and_load_query_results(client,response_1)
print(countrycode)

               country alpha-2 code alpha-3 code  numeric code  latitude  \
0          Afghanistan           AF          AFG           4.0   33.0000
1              Albania           AL          ALB           8.0   41.0000
2              Algeria           DZ          DZA          12.0   28.0000
3       American Samoa           AS          ASM          16.0  -14.3333
4              Andorra           AD          AND          20.0   42.5000
..                 ...          ...          ...           ...       ...
251  Wallis and Futuna           WF          WLF         876.0  -13.3000
252     Western Sahara           EH          ESH         732.0   24.5000
253              Yemen           YE          YEM         887.0   15.0000
254             Zambia           ZM          ZMB         894.0  -15.0000
255           Zimbabwe           ZW          ZWE         716.0  -20.0000

     longitude
0         65.0
1         20.0
2          3.0
3       -170.0
4          1.6
..         ...
251     -176.2
252      -13.0
253       48.0
254       30.0
255       30.0

[256 rows x 6 columns]

In [18]:
#countypopulation
response_2 = client.start_query_execution(
    QueryString="SELECT * FROM countypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [19]:
countypopulation=download_and_load_query_results(client,response_2)
print(countypopulation)

                  id    id2               county        state  \
0     0500000US01001   1001              Autauga      Alabama
1     0500000US01003   1003              Baldwin      Alabama
2     0500000US01005   1005              Barbour      Alabama
3     0500000US01007   1007                 Bibb      Alabama
4     0500000US01009   1009               Blount      Alabama
...              ...    ...                  ...          ...
3215  0500000US72145  72145  Vega Baja Municipio  Puerto Rico
3216  0500000US72147  72147    Vieques Municipio  Puerto Rico
3217  0500000US72149  72149   Villalba Municipio  Puerto Rico
3218  0500000US72151  72151    Yabucoa Municipio  Puerto Rico
3219  0500000US72153  72153      Yauco Municipio  Puerto Rico

      population estimate 2018
0                        55601
1                       218022
2                        24881
3                        22400
4                        57840
...                        ...
3215                     50185
3216                      8364
3217                     21476
3218                     32158
3219                     33860

[3220 rows x 5 columns]

In [20]:
#enigma_nytimes_data_in_usa
response_3 = client.start_query_execution(
    QueryString="SELECT * FROM enigma_nytimes_data_in_usa",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [21]:
enigma_nytimes_data_in_usa=download_and_load_query_results(client,response_3)
print(enigma_nytimes_data_in_usa)

             date      county     state     fips  cases  deaths partition_0
0      2020-01-21  Washington        53      1.0    0.0     NaN   us_states
1      2020-01-22  Washington        53      1.0    0.0     NaN   us_states
2      2020-01-23  Washington        53      1.0    0.0     NaN   us_states
3      2020-01-24    Illinois        17      1.0    0.0     NaN   us_states
4      2020-01-24  Washington        53      1.0    0.0     NaN   us_states
...           ...         ...       ...      ...    ...     ...         ...
30649  2020-04-02     Lincoln  Kentucky  21137.0    1.0     0.0   us_county
30650  2020-04-02       Logan  Kentucky  21141.0    2.0     0.0   us_county
30651  2020-04-02        Lyon  Kentucky  21143.0    2.0     0.0   us_county
30652  2020-04-02     Madison  Kentucky  21151.0   12.0     0.0   us_county
30653  2020-04-02      Marion       Ken      NaN    NaN     NaN   us_county

[30654 rows x 7 columns]

In [22]:
#rearc_covid_19_testing_data
response_4 = client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [23]:
rearc_covid_19_testing_data=download_and_load_query_results(client,response_4)
print(rearc_covid_19_testing_data)

          date    state    positive  probablecases   negative  pending  \
0      1061101  5170081      2775.0        53793.0   111955.0   9486.0
1     20210307       56  28755524.0     74579770.0    11808.0  40212.0
2     20210306       56  28714259.0     74449356.0    11783.0  41401.0
3     20210305       56  28654639.0     74307155.0    12213.0  42541.0
4     20210304       56  28585852.0     74035238.0    12405.0  44172.0
...        ...      ...         ...            ...        ...      ...
3101  20210119       UT    326221.0            NaN  1385896.0      NaN
3102  20210119       VA    451076.0        84917.0        NaN    350.0
3103  20210119       VI      2260.0            NaN    37119.0    112.0
3104  20210119       VT     10321.0          262.0   280334.0      NaN
3105  20210119       WA    289939.0        12535.0        NaN      NaN

        totaltestresultssource  totaltestresults  hospitalizedcurrently  \
0                         4192            4712.0                  373.0
1                       878613            8137.0                45475.0
2                       877887            8409.0                45453.0
3                       877384            8634.0                45373.0
4                       874603            8970.0                45293.0
...                        ...               ...                    ...
3101           totalTestsViral         2472897.0                  638.0
3102  totalTestEncountersViral         4878157.0                 3173.0
3103                    posNeg           39379.0                    NaN
3104           totalTestsViral          813355.0                   43.0
3105  totalTestEncountersViral         4233758.0                 1066.0

      hospitalizedcumulative  ...  commercialscore  negativeregularscore  \
0                   153947.0  ...              NaN                   NaN
1                     2801.0  ...              NaN                   NaN
2                     2811.0  ...              NaN                   NaN
3                     2889.0  ...              NaN                   NaN
4                     2973.0  ...              NaN                   NaN
...                      ...  ...              ...                   ...
3101                 12645.0  ...              0.0                   0.0
3102                 20066.0  ...              0.0                   0.0
3103                     NaN  ...              0.0                   0.0
3104                     NaN  ...              0.0                   0.0
3105                     NaN  ...              NaN                   NaN

      negativescore  positivescore  score grade lastmodified notes  states  \
0               NaN            NaN    NaN   NaN          NaN   NaN     NaN
1               NaN            NaN    NaN   NaN          NaN   NaN     NaN
2               NaN            NaN    NaN   NaN          NaN   NaN     NaN
3               NaN            NaN    NaN   NaN          NaN   NaN     NaN
4               NaN            NaN    NaN   NaN          NaN   NaN     NaN
...             ...            ...    ...   ...          ...   ...     ...
3101            0.0            0.0    0.0   NaN          NaN   NaN     NaN
3102            0.0            0.0    0.0   NaN          NaN   NaN     NaN
3103            0.0            0.0    0.0   NaN          NaN   NaN     NaN
3104            0.0            0.0    0.0   NaN          NaN   NaN     NaN
3105            NaN            NaN    NaN   NaN          NaN   NaN     NaN

          partition_0
0     us-total-latest
1            us_daily
2            us_daily
3            us_daily
4            us_daily
...               ...
3101     states_daily
3102     states_daily
3103     states_daily
3104     states_daily
3105     states_daily

[3106 rows x 60 columns]

In [24]:
#hospital beds
response_6 = client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [25]:
rearc_usa_hospital_beds=download_and_load_query_results(client,response_6)
print(rearc_usa_hospital_beds)

      objectid                                      hospital_name  \
0            1  Phoenix VA Health Care System (AKA Carl T Hayd...
1            2             Southern Arizona VA Health Care System
2            3           VA Central California Health Care System
3            4  VA Connecticut Healthcare System - West Haven ...
4            5                       Wilmington VA Medical Center
...        ...                                                ...
6632      6633  University of Iowa Health Network Rehabilitati...
6633      6634                 Northwest Medical Center Sahuarita
6634      6635                               The Heights Hospital
6635      6636         Cobalt Rehabilitation Hospital Clarksville
6636      6637               Marshfield Medical Center - Minocqua

                       hospital_type                     hq_address  \
0                        VA Hospital         650 E Indian School Rd
1                        VA Hospital                 3601 S 6th Ave
2                        VA Hospital             2615 E Clinton Ave
3                        VA Hospital               950 Campbell Ave
4                        VA Hospital              1601 Kirkwood Hwy
...                              ...                            ...
6632         Rehabilitation Hospital                  2450 Coral Ct
6633  Short Term Acute Care Hospital  16260 S Rancho Sahuarita Blvd
6634  Short Term Acute Care Hospital                1917 Ashland St
6635         Rehabilitation Hospital               2101 Broadway St
6636  Short Term Acute Care Hospital                     9576 WI-70

     hq_address1      hq_city hq_state  hq_zip_code county_name   state_name  \
0            NaN      Phoenix       AZ        85012    Maricopa      Arizona
1            NaN       Tucson       AZ        85723        Pima      Arizona
2            NaN       Fresno       CA        93703      Fresno   California
3            NaN   West Haven       CT         6516   New Haven  Connecticut
4            NaN   Wilmington       DE        19805  New Castle     Delaware
...          ...          ...      ...          ...         ...          ...
6632         NaN   Coralville       IA        52241     Johnson         Iowa
6633         NaN    Sahuarita       AZ        85629        Pima      Arizona
6634         NaN      Houston       TX        77008      Harris        Texas
6635         NaN  Clarksville       IN        47129       Clark      Indiana
6636         NaN     Minocqua       WI        54548      Oneida    Wisconsin

      ...  num_licensed_beds  num_staffed_beds  num_icu_beds  adult_icu_beds  \
0     ...              129.0             129.0             0               0
1     ...              295.0             295.0             2               2
2     ...               57.0              57.0             2               2
3     ...              216.0             216.0             1               1
4     ...               60.0              60.0             0               0
...   ...                ...               ...           ...             ...
6632  ...                NaN               NaN             0               0
6633  ...                NaN               NaN             0               0
6634  ...                NaN               NaN             0               0
6635  ...                NaN               NaN             0               0
6636  ...                NaN               NaN             0               0

      pedi_icu_beds  bed_utilization  avg_ventilator_usage  \
0               NaN              NaN                   0.0
1               NaN              NaN                   2.0
2               NaN              NaN                   2.0
3               NaN              NaN                   2.0
4               NaN              NaN                   1.0
...             ...              ...                   ...
6632            NaN              NaN                   NaN
6633            NaN              NaN                   NaN
6634            NaN              NaN                   NaN
6635            NaN              NaN                   NaN
6636            NaN              NaN                   NaN

      potential_increase_in_bed_capac   latitude  longtitude
0                                   0  33.495498 -112.066157
1                                   0  32.181263 -110.965885
2                                   0  36.773324 -119.779742
3                                   0  41.284400  -72.957610
4                                   0  39.740206  -75.606532
...                               ...        ...         ...
6632                                0  41.681410  -91.575728
6633                                0  31.955757 -110.984489
6634                                0  29.803581  -95.404182
6635                                0  38.329353  -85.765610
6636                                0  45.890217  -89.708786

[6637 rows x 23 columns]

In [26]:
#state_abv
response_5 = client.start_query_execution(
    QueryString="SELECT * FROM state_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    }
)

In [27]:
state_abv=download_and_load_query_results(client,response_5)
print(state_abv)

                    col0          col1
0                  State  Abbreviation
1                Alabama            AL
2                 Alaska            AK
3                Arizona            AZ
4               Arkansas            AR
5             California            CA
6               Colorado            CO
7            Connecticut            CT
8               Delaware            DE
9   District of Columbia            DC
10               Florida            FL
11               Georgia            GA
12                Hawaii            HI
13                 Idaho            ID
14              Illinois            IL
15               Indiana            IN
16                  Iowa            IA
17                Kansas            KS
18              Kentucky            KY
19             Louisiana            LA
20                 Maine            ME
21               Montana            MT
22              Nebraska            NE
23                Nevada            NV
24         New Hampshire            NH
25            New Jersey            NJ
26            New Mexico            NM
27              New York            NY
28        North Carolina            NC
29          North Dakota            ND
30                  Ohio            OH
31              Oklahoma            OK
32                Oregon            OR
33              Maryland            MD
34         Massachusetts            MA
35              Michigan            MI
36             Minnesota            MN
37           Mississippi            MS
38              Missouri            MO
39          Pennsylvania            PA
40          Rhode Island            RI
41        South Carolina            SC
42          South Dakota            SD
43             Tennessee            TN
44                 Texas            TX
45                  Utah            UT
46               Vermont            VT
47              Virginia            VA
48            Washington            WA
49         West Virginia            WV
50             Wisconsin            WI
51               Wyoming            WY

In [28]:
new_header=state_abv.iloc[0]
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [29]:
state_abv=state_abv[1:]

In [30]:
state_abv.columns=new_header

In [31]:
state_abv

0                  State Abbreviation
1                Alabama           AL
2                 Alaska           AK
3                Arizona           AZ
4               Arkansas           AR
5             California           CA
6               Colorado           CO
7            Connecticut           CT
8               Delaware           DE
9   District of Columbia           DC
10               Florida           FL
11               Georgia           GA
12                Hawaii           HI
13                 Idaho           ID
14              Illinois           IL
15               Indiana           IN
16                  Iowa           IA
17                Kansas           KS
18              Kentucky           KY
19             Louisiana           LA
20                 Maine           ME
21               Montana           MT
22              Nebraska           NE
23                Nevada           NV
24         New Hampshire           NH
25            New Jersey           NJ
26            New Mexico           NM
27              New York           NY
28        North Carolina           NC
29          North Dakota           ND
30                  Ohio           OH
31              Oklahoma           OK
32                Oregon           OR
33              Maryland           MD
34         Massachusetts           MA
35              Michigan           MI
36             Minnesota           MN
37           Mississippi           MS
38              Missouri           MO
39          Pennsylvania           PA
40          Rhode Island           RI
41        South Carolina           SC
42          South Dakota           SD
43             Tennessee           TN
44                 Texas           TX
45                  Utah           UT
46               Vermont           VT
47              Virginia           VA
48            Washington           WA
49         West Virginia           WV
50             Wisconsin           WI
51               Wyoming           WY

In [32]:
#Building a star schema 
factCovid_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = rearc_covid_19_testing_data[['fips', 'date', 'positive', 'negative', 'hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [33]:
dimRegion_1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion_2 = enigma_nytimes_data_in_usa[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [34]:
dimhospitals=rearc_usa_hospital_beds[['fips', 'state_name', 'latitude', 'longtitude', 'hq_address', 'hospital_name', 'hospital_type', 'hq_city', 'hq_state']]

dimDate = rearc_covid_19_testing_data[['fips', 'date']]

In [35]:
rearc_usa_hospital_beds.columns

Index(['objectid', 'hospital_name', 'hospital_type', 'hq_address',
       'hq_address1', 'hq_city', 'hq_state', 'hq_zip_code', 'county_name',
       'state_name', 'state_fips', 'cnty_fips', 'fips', 'num_licensed_beds',
       'num_staffed_beds', 'num_icu_beds', 'adult_icu_beds', 'pedi_icu_beds',
       'bed_utilization', 'avg_ventilator_usage',
       'potential_increase_in_bed_capac', 'latitude', 'longtitude'],
      dtype='object')

In [36]:
# Convert date column with error handling
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d', errors='coerce')


# Replace any remaining invalid dates with NaT
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d', errors='coerce')

# Drop rows with NaT in the date column
dimDate = dimDate.dropna(subset=['date'])

/var/folders/mr/ylngckl55jb3tlh3qrqll3_00000gn/T/ipykernel_76411/2952941076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d', errors='coerce')
/var/folders/mr/ylngckl55jb3tlh3qrqll3_00000gn/T/ipykernel_76411/2952941076.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d', errors='coerce')

In [37]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate["day_of_week"] = dimDate['date'].dt.dayofweek

In [38]:
dimDate

      fips       date  year  month  day_of_week
1      NaN 2021-03-07  2021      3            6
2      NaN 2021-03-06  2021      3            5
3      NaN 2021-03-05  2021      3            4
4      NaN 2021-03-04  2021      3            3
5      NaN 2021-03-03  2021      3            2
...    ...        ...   ...    ...          ...
3101  49.0 2021-01-19  2021      1            1
3102  51.0 2021-01-19  2021      1            1
3103  78.0 2021-01-19  2021      1            1
3104  50.0 2021-01-19  2021      1            1
3105   NaN 2021-01-19  2021      1            1

[3105 rows x 5 columns]

In [55]:
#Uploading data back into amazon S3 Bucket 
def upload_dataframe_to_s3(dataframe, bucket_name, object_name):
    # Save the DataFrame to a CSV buffer
    csv_buffer = StringIO()
    dataframe.to_csv(csv_buffer, index=False)

    # Create an S3 resource
    s3_resource = boto3.resource(
        's3',
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION
    )

    # Upload the CSV file to S3
    try:
        s3_resource.Object(bucket_name, object_name).put(Body=csv_buffer.getvalue())
        print(f"File uploaded to {bucket_name}/{object_name}")
    except NoCredentialsError:
        print("Credentials not available")

In [56]:
# Upload the DataFrames to S3
upload_dataframe_to_s3(dimDate, bucket_name, 'output/dimDate.csv')
upload_dataframe_to_s3(dimhospitals, bucket_name, 'output/dimHospitals.csv')
upload_dataframe_to_s3(dimRegion, bucket_name, 'output/dimRegion.csv')
upload_dataframe_to_s3(factCovid, bucket_name, 'output/factCovid.csv')

File uploaded to athenaouptutenigma/output/dimDate.csv
File uploaded to athenaouptutenigma/output/dimHospitals.csv
File uploaded to athenaouptutenigma/output/dimRegion.csv
File uploaded to athenaouptutenigma/output/factCovid.csv